body{
    font-family: 'Trebuchet MS', sans-serif;
    background-color: black;
}

li{
    color: green;
}

ul{
    font-size: 30px;
}

p{
    color: bisque;
}

.moon{
    color: aliceblue;
    font-size: 40px;
}

#sailor{
    color: aqua;
    font-size: 90px;
}